.container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly; 
}
.imgheader {
    background: linear-gradient(pink,white);
    height: 10vh;
}
 .con img:hover{
    border-radius: 30px;
    box-shadow: 2px 2px 25px 5px pink;
    transform:rotate(2deg);
}